.sign{
    width: 100%;
    height: 100vh;
    background-color: #46d6cf;
    display: flex;
    top: 80px;
}
.sign .input-group{
    position: relative;
    width: 420px;
    height: 500px;
    transition: .5s;
    justify-content: center;
    align-items: center;
    /*margin-left: 400px;*/
    margin-top: 80px;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
.signup{
    padding-top: 40px;
}
.label{
    font-weight: bold;
    color:#777;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin-bottom: 20px;
}
.sign .input-group .error{
    margin-top: -15px;
}
.sign .input-group small{
    color: red;
}
.sign .input-group .icon-eye{
    margin-left: 300px;
    margin-top: -40px;
    color: #555;
    font-size: 18px;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: teal;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
}
.btn2{
    margin-top: 20px;
}
.sign .mascot-doc{
    width: 250px;
    height: 250px;
    margin-top: 180px;
    margin-left: 300px;
}
.input-group p{
    margin-top: 25px;
}
.input-group .link{
    text-decoration: none;
    margin-top: -1px;
    color : teal;
    margin-left: 5px;
}