.profile{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    width: 100%;
}
.profile .header{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:400px;
    background:rgb(13, 179, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
.profile .header .name{
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}
.profile .header .navbar{
    width: 100%;
}
.profile .header .navbar ul{
    list-style: none;
    padding: 5px 10px;
    border-top: 1px solid rgba(0,0,0,0.05);
}
.profile .header .navbar ul li{
    display: flex;
    align-items: center;
    /*background: #355C7D;*/
    /*background: #191970;*/
    background: #151B54;
    color:#fff;
    border-radius: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 70px;
    padding-right: 70px;
}
.profile .header .navbar ul li a{
    text-decoration: none;
    display: block;  
    font-size: 20px;
    margin-left: 20px;
}
.profile .header .navbar ul li .back{
    color: #fff;
    text-decoration: none;
}
.profile .header .navbar ul li a .icon{
    max-width: 20px;
    transition: 0.5s;
    margin-right: 10px;
}
.profile .header .navbar ul li:hover{
    background: #16E2F5;
    color: #151B54;
    cursor: pointer;
}

.profile .sections{
    width: calc(100% - 400px);
    margin-left: 400px;
    float: left;
    position: absolute;
    min-height: 100vh;
    background-color: #46d6cf;
}
/* Games */
.profile .sections .games{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 30px;
    height: 100vh;
}
.profile .sections .games .container{
    display: flex;
}
.sections .games .gametype{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.sections .games .gametype .gametype-contain{
    width: 250px;
    height: 220px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 10px;
}
.sections .games .gametype .gametype-contain img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sections .games .gametype .gametype-contain a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 60px;
}
.sections .games .gametype .gametype-contain a:hover{
    cursor: pointer;
    color: teal;
}
.sections .games .gametype .gametype-contain .link-sequence{
    margin-left: 70px;
}
.sections .games .gametype .gametype-contain .link-loop{
    margin-left: 90px;
}
.sections .games .gametype .gametype-contain .link-function{
    margin-left: 80px;
}
.sections .games .gametype .gametype-contain .link-array{
    margin-left: 100px;
}
/* Coding Basics-Sequences-Loops-Functions-Arrays */
.profile .sections .basics,
.profile .sections .sequences,
.profile .sections .loops,
.profile .sections .functions,
.profile .sections .arrays{
    height: 100vh;
}
.profile .sections .color-basic{
    background-color: #09EB4D;
}
.profile .sections .color-sequence{
    background-color: #94F109;
}
.profile .sections .color-loop{
    background-color: #BC0DEF;
}
.profile .sections .color-function{
    background-color: #08C4FD;
}
.profile .sections .color-array{
    background-color: #E6EF0B;
}
.profile .sections .basics .container .title,
.profile .sections .sequences .container .title,
.profile .sections .loops .container .title,
.profile .sections .functions .container .title,
.profile .sections .arrays .container .title{
    display: flex;
}
.profile .sections .basics .container .back,
.profile .sections .sequences .container .back,
.profile .sections .loops .container .back,
.profile .sections .functions .container .back,
.profile .sections .arrays .container .back{
    padding-top: 50px;
    font-size: 40px;
    color: #333;
    margin-left: 20px;
}
.profile .sections .basics .container h2,
.profile .sections .sequences .container h2,
.profile .sections .loops .container h2,
.profile .sections .functions .container h2,
.profile .sections .arrays .container h2{
    padding-top: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.profile .sections .basics .container .content-basics,
.profile .sections .sequences .container .content-sequences,
.profile .sections .loops .container .content-loops,
.profile .sections .functions .container .content-functions,
.profile .sections .arrays .container .content-arrays{
    display: flex;
    justify-content: space-between;
    margin: 120px 40px;
}
.profile .sections .basics .container .content-basics .content,
.profile .sections .sequences .container .content-sequences .content,
.profile .sections .loops .container .content-loops .content,
.profile .sections .functions .container .content-functions .content,
.profile .sections .arrays .container .content-arrays .content{
    width: 250px;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
}
.profile .sections .basics .container .content-basics .content img,
.profile .sections .sequences .container .content-sequences .content img,
.profile .sections .loops .container .content-loops .content img,
.profile .sections .functions .container .content-functions .content img,
.profile .sections .arrays .container .content-arrays .content img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.profile .sections .basics .container .content-basics .content a,
.profile .sections .sequences .container .content-sequences .content a,
.profile .sections .loops .container .content-loops .content a,
.profile .sections .functions .container .content-functions .content a,
.profile .sections .arrays .container .content-arrays .content a{
    font-size: 20px;
    text-decoration: none;
    color: teal;
    font-weight: bold;
    font-family: sans-serif;
}
.profile .sections .basics .container .content-basics .content .link1,
.profile .sections .sequences .container .content-sequences .content .link1,
.profile .sections .loops .container .content-loops .content .link1,
.profile .sections .functions .container .content-functions .content .link1,
.profile .sections .arrays .container .content-arrays .content .link1{
    margin-left: 60px;
}
.profile .sections .basics .container .content-basics .content .link2,
.profile .sections .sequences .container .content-sequences .content .link2,
.profile .sections .loops .container .content-loops .content .link2,
.profile .sections .functions .container .content-functions .content .link2,
.profile .sections .arrays .container .content-arrays .content .link2{
    margin-left: 90px;
}
.profile .sections .basics .container .content-basics .content .link3,
.profile .sections .sequences .container .content-sequences .content .link3,
.profile .sections .loops .container .content-loops .content .link3,
.profile .sections .functions .container .content-functions .content .link3,
.profile .sections .arrays .container .content-arrays .content .link3{
    margin-left: 90px;
}
.profile .sections .basics .container .content-basics .content a:hover,
.profile .sections .sequences .container .content-sequences .content a:hover,
.profile .sections .loops .container .content-loops .content a:hover,
.profile .sections .functions .container .content-functions .content a:hover,
.profile .sections .arrays .container .content-arrays .content a:hover{
    cursor: pointer;
    color: #191970;
}
/* tutorial-basic, tutorial-sequence, tutorial-loop */
.profile .sections .tutorial-basic,
.profile .sections .tutorial-sequence,
.profile .sections .tutorial-loop,
.profile .sections .tutorial-function,
.profile .sections .tutorial-array{
    width: 100%;
    height: 100vh;
}
.profile .sections .t-basicColor{
    background-color: #09EB4D;
}
.profile .sections .t-sequenceColor{
    background-color: #94F109;
}
.profile .sections .t-loopColor{
    background-color: #BC0DEF;
}
.profile .sections .t-functionColor{
    background-color: #08C4FD;
}
.profile .sections .t-arrayColor{
    background-color: #E6EF0B;
}
.profile .sections .tutorial-basic .title,
.profile .sections .tutorial-sequence .title,
.profile .sections .tutorial-loop .title,
.profile .sections .tutorial-function .title,
.profile .sections .tutorial-array .title{
    display: flex;
}
.profile .sections .tutorial-basic .title .back,
.profile .sections .tutorial-sequence .title .back,
.profile .sections .tutorial-loop .title .back,
.profile .sections .tutorial-function .title .back,
.profile .sections .tutorial-array .title .back{
    padding-top: 35px;
    font-size: 40px;
    color: #333;
    margin-left: 20px;
    margin-top: 15px;
}
.profile .sections .tutorial-basic .title h2,
.profile .sections .tutorial-sequence .title h2,
.profile .sections .tutorial-loop .title h2,
.profile .sections .tutorial-function .title h2,
.profile .sections .tutorial-array .title h2{
    padding-top: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.profile .sections .tutorial-basic video,
.profile .sections .tutorial-sequence video,
.profile .sections .tutorial-loop video,
.profile .sections .tutorial-function video,
.profile .sections .tutorial-array video{
    outline: 0;
    width: 500px;
    height: 400px;
    margin-left: 200px;
    border-radius: 10px
}
/* Explain Basic, Explain Sequence */
.profile .sections .explain-basic,
.profile .sections .explain-sequence,
.profile .sections .explain-loop,
.profile .sections .explain-function,
.profile .sections .explain-array{
    width: 100%;
    height: 100vh;
}
.profile .sections .e-basicColor{
    background-color: #09EB4D;
}
.profile .sections .e-sequenceColor{
    background-color: #94F109;
}
.profile .sections .e-loopColor{
    background-color: #BC0DEF;
}
.profile .sections .e-functionColor{
    background-color: #08C4FD;
}
.profile .sections .e-arrayColor{
    background-color: #E6EF0B;
}
.profile .sections .explain-basic .title,
.profile .sections .explain-sequence .title,
.profile .sections .explain-loop .title,
.profile .sections .explain-function .title,
.profile .sections .explain-array .title{
    display: flex;
}
.profile .sections .explain-basic .title .back,
.profile .sections .explain-sequence .title .back,
.profile .sections .explain-loop .title .back,
.profile .sections .explain-function .title .back,
.profile .sections .explain-array .title .back{
    padding-top: 15px;
    font-size: 40px;
    color: #333;
    margin-left: 20px;
    margin-top: 15px;
}
.profile .sections .explain-basic .title h2,
.profile .sections .explain-sequence .title h2,
.profile .sections .explain-loop .title h2,
.profile .sections .explain-function .title h2,
.profile .sections .explain-array .title h2{
    padding-top: 20px;
    padding-left: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
/* Explain basics */
.explain-basic .explain .definition-basic{
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
}
.explain-basic .explain .definition-basic .img-basic{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius: 10px;
}
.explain-basic .explain .definition-basic .para-basic{
    line-height: 1.5;
    margin-top: 18px;
    font-size: 20px;
    padding-left: 15px;
    color: #333;
}
.explain-basic .explain .h2-basic{
    color: rgb(8, 30, 102);
    margin-left: 30px;
    padding-top: 10px;
    text-align: center;
}
.explain-basic .explain .h3-basic{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 22px;
    color: #fff;
}
.explain-basic .explain .para2-basic{
    line-height: 1.5;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 30px;
}
.explain-basic .explain .var{
    font-weight: bold;
    margin-top: 10px;
}
.explain-basic .explain .img-code{
    margin-top: 5px;
    margin-left: 30px;
}
/* Explain sequences */
.explain-sequence .explain .definition-sequence{
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
}
.explain-sequence .explain .definition-sequence .img-sequence{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.explain-sequence .explain .definition-sequence .para-sequence{
    line-height: 1.5;
    margin-top: 20px;
    font-size: 18px;
    padding-right: 10px;
}
.explain-sequence .explain .para2-sequence{
    margin-top: 10px;
    line-height: 1.5;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 30px;
}
.explain-sequence .explain .understand{
    font-weight: bold;
    margin-top: 5px;
    color: #333;
}
.explain-sequence .explain .code{
    display: flex;
}
.explain-sequence .explain .code .img-code{
    margin-top: 5px;
    margin-left: 30px;
    width: 400px;
    height: 320px;
}
.explain-sequence .explain .code .output{
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.explain-sequence .explain .code .img-output{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 450px;
    height: 100px;
}
/* Explain loops */
.explain-loop .explain .definition{
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
}
.explain-loop .explain .definition .img-loop{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
}
.explain-loop .explain .definition .para-loop{
    line-height: 1.5;
    margin-top: 10px;
    font-size: 18px;
    padding-right: 10px;
}
.explain-loop .explain .h3-loop{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
    color: #fff;
}
.explain-loop .explain .para2-loop{
    line-height: 1.5;
    margin-top: 10px;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 30px;
}
.explain-loop .explain .code-screen{
    display: flex;
}
.explain-loop .explain .img-code{
    margin-top: 10px;
    margin-left: 30px;
}
.explain-loop .explain .output{
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}
.explain-loop .explain .img-output{
    margin-top: 10px;
    margin-left: 30px;
}
.explain-loop .explain .para2-loop span{
    font-weight: bold;
}
/* Explain Function */
.explain-function .explain .definition-f{
    display: flex;
    margin-left: 15px;
}
.explain-function .explain .definition-f .img-function{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.explain-function .explain .definition-f .para-function{
    line-height: 1.5;
    margin-top: 23px;
    font-size: 18px;
    padding-right: 10px;
}
.explain-function .explain .para-function{
    line-height: 1.5;
    margin-top: 20px;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 30px;
}
.explain-function .explain .example{
    line-height: 1.5;
    font-size: 18px;
    padding-right: 10px;
    font-weight: bold;
    margin-left: 30px;
}
.explain-function .explain .code{
    display: flex;
}
.explain-function .explain .code .img-code{
    margin-top: 5px;
    margin-left: 30px;
    width: 600px;
}
.explain-function .explain .code .img-output{
    margin-left: 30px;
    width: 200px;
    height: 80px;
    margin-top: 20px;
}
/* Eplain Arrays */
.explain-array .explain .definition-array{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}
.explain-array .explain .definition-array .img-array{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
}
.explain-array .explain .definition-array .para-array{
    line-height: 1.5;
    margin-top: 30px;
    font-size: 18px;
    padding-right: 10px;
}
.explain-array .explain .h2-array{
    color: rgb(57, 98, 231);
    margin-left: 30px;
    padding-top: 20px;
    text-align: center;
}
.explain-array .explain .para2-array{
    line-height: 1.5;
    margin-top: 20px;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 30px;
}
.explain-array .explain .h3-array{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.explain-array .explain .img-code{
    margin-left: 50px;
}
/* Games */
.profile .sections .games-basic,
.profile .sections .games-sequence,
.profile .sections .games-loop,
.profile .sections .games-function,
.profile .sections .games-array{
    width: 100%;
    height: 100vh;
}
.profile .sections .g-basicColor{
    background-color: #09EB4D;
}
.profile .sections .g-sequenceColor{
    background-color: #94F109;
}
.profile .sections .g-loopColor{
    background-color: #BC0DEF;
}
.profile .sections .g-functionColor{
    background-color: #08C4FD;
}
.profile .sections .g-arrayColor{
    background-color: #E6EF0B;
}
.profile .sections .games-basic .title,
.profile .sections .games-sequence .title,
.profile .sections .games-loop .title,
.profile .sections .games-function .title,
.profile .sections .games-array .title{
    display: flex;
}
.profile .sections .games-basic .title .back,
.profile .sections .games-sequence .title .back,
.profile .sections .games-loop .title .back,
.profile .sections .games-function .title .back,
.profile .sections .games-array .title .back{
    padding-top: 35px;
    font-size: 40px;
    color: #333;
    margin-left: 20px;
    margin-top: 15px;
}
.profile .sections .games-basic .title h2,
.profile .sections .games-sequence .title h2,
.profile .sections .games-loop .title h2,
.profile .sections .games-function .title h2,
.profile .sections .games-array .title h2{
    padding-top: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.profile .sections .games-basic .levels,
.profile .sections .games-sequence .levels,
.profile .sections .games-loop .levels,
.profile .sections .games-function .levels,
.profile .sections .games-array .levels{
    background-color: #fff;
    width: 80%;
    height: 300px;
    margin-left: 80px;
    margin-top: 80px;
    border-radius: 10px;
}
.profile .sections .games-basic .levels h3,
.profile .sections .games-sequence .levels h3,
.profile .sections .games-loop .levels h3,
.profile .sections .games-function .levels h3,
.profile .sections .games-array .levels h3{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #191970;
}
.profile .sections .games-basic .levels .choose,
.profile .sections .games-sequence .levels .choose,
.profile .sections .games-loop .levels .choose,
.profile .sections .games-function .levels .choose,
.profile .sections .games-array .levels .choose{
    padding-top: 30px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5,auto);
    padding-left: 60px;
}
.profile .sections .games-basic .levels .choose .btn,
.profile .sections .games-sequence .levels .choose .btn,
.profile .sections .games-loop .levels .choose .btn,
.profile .sections .games-function .levels .choose .btn,
.profile .sections .games-array .levels .choose .btn{
    width: 55px;
    height: 55px;
    display: grid;
    padding: auto;
    color: #191970;
    background-color: rgb(219, 219, 219);
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
/* Edit-Profile */
/*.profile .sections .edit-profile{
    height: 100vh;
}
.profile .sections .edit-profile form{
    padding-left: 120px;
    padding-top: 40px;
}
.profile .sections .edit-profile form input{
    padding: 10px;
    background: #ebebeb;
    border: transparent;
    border: 0.3px solid #ccc;
    outline: none;
}
.profile .sections .edit-profile form input[type = submit]{
    background: #21ABA5;
    border: 0.3px solid #21ABA5;
    color: #fff;
    cursor: pointer;
}
.profile .sections .edit-profile form input[type = text]{
    width: 60%;
}
.profile .sections .edit-profile form input[type = submit]{
    width: 10%;
}*/

.profile .sections .settings{
    height: 100vh;
}
.profile .sections .settings button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;

}
.profile .sections .settings .button-ar{
    margin-left: 350px;
    margin-top: 200px;
    margin-right: 20px;
}
/* Help Center */
.sections .help{
    height: 100vh;
}
.sections .help .container h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sections .help .container img{
    width: 100%;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.sections .help .container p{
    font-size: 20px;
    line-height: 1.5;
    padding-left: 40px;
    padding-right: 30px;
    color: #333;
}
/* About Us */
.sections .about{
    height: 100vh;
}
.sections .about .container{
    height: 100vh;
    display: inline-block;
}
.sections .about .container h2{
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
.sections .about .container .users{
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
}
.sections .about .container .users .user{
    padding-right: 80px;
}
.sections .about .container .users .user img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sections .about .container .users .user h3{
    text-transform: capitalize;
    font-size: 22px;
}
.sections .about .container .users .user h3 span{
    font-size: 16px;
    font-weight: bold;
}
/* Rate and Review */
.sections .rate{
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
}
.sections .rate h2{
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.sections .rate h4{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #333;
}
.sections .rate svg{
    width: 300px;
    height: 300px;
    margin-left: 300px;
}
circle{
    stroke:#DDDDDD;
}
.sections .rate svg circle{
    fill: none;
    stroke-width: 20;
    transform: rotate(-0.25turn);
    transform-origin: center center;
    stroke: #DDDDDD;
    stroke-dasharray: 817;
    stroke-linecap: round;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    stroke: rgb(243, 41, 41);
    animation-name: move;   
}
.sections .rate .number{
    color: rgb(243, 41, 41);
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-top: -150px;
    margin-left: 450px;
}
@keyframes move{
    0%{
        stroke-dashoffset: 817;
    }
    90%{
        stroke-dashoffset: 245.1;
    }
    100%{
        stroke-dashoffset: 245.1;
    }
}
