.explain-basic{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 228, 228);
}
.explain-basic .explain-container{
    width: 50%;
    height: 100%;
    background-color: #fff;
    margin: auto;
}
.explain-basic .explain-container .h2-basic{
    color: rgb(57, 98, 231);
    margin-left: 30px;
    padding-top: 20px;
    text-align: center;
}
.explain-basic .explain-container .definition-basic{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}
.definition-basic .img-basic{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.definition-basic .para-basic{
    line-height: 1.5;
    margin-top: 20px;
    font-size: 18px;
    padding-right: 10px;
}
.explain-basic .explain-container .h3-basic{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 22px;
    color: green;
}
.explain-basic .explain-container .para2-basic{
    line-height: 1.5;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 30px;
}
.explain-basic .explain-container .var{
    font-weight: bold;
    margin-top: 10px;
}
.explain-basic .explain-container .img-code{
    margin-top: 10px;
    margin-left: 30px;
}
.explain-basic .explain-container .rules{
    margin-top: 20px;
    margin-left: 50px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 1.5;
}