.explain-sequence{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 228, 228);
}
.explain-sequence .explain-container{
    width: 50%;
    height: 100%;
    background-color: #fff;
    margin: auto;
}
.explain-sequence .explain-container .h2-sequence{
    color: rgb(57, 98, 231);
    margin-left: 30px;
    padding-top: 20px;
    text-align: center;
}
.explain-sequence .explain-container .definition-sequence{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}
.definition-sequence .img-sequence{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.definition-sequence .para-sequence{
    line-height: 1.5;
    margin-top: 20px;
    font-size: 18px;
    padding-right: 10px;
}
.explain-sequence .explain-container .para2-sequence{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 30px;
}
.explain-sequence .explain-container .understand{
    font-weight: bold;
    margin-top: 10px;
}
.explain-sequence .explain-container .img-code{
    margin-top: 10px;
    margin-left: 30px;
}
.explain-sequence .explain-container .output{
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.explain-sequence .explain-container .img-output{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}